.main-banner {
    background: no-repeat center url(../../public/assets/img/banner-image.jpg);
    height: 14rem;
    max-height: 290px;
}

.main-title__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.main-title {
    padding-top: 2rem;
    font-family: Gabriola;
    font-weight: 300;
    font-size: 4rem;
    letter-spacing: 3px;
    color: $color-secondary;
    text-decoration: none;
    margin: 0 !important;
}

#swoop {
    margin:0;
}